.header .container{background:#fff !important;}
.footer .container{background:#fff !important;}
.topbar {
  /*background: #444;*/
  position: absolute;
  bottom: 62px;
  left: 0;
  right: 0;
  padding: 1em;
  box-sizing: border-box;
  color: white;
}
.topbar span {
  margin-right: 1em;
}
.topbar input.small {
  width: 4em;
}
/*#container{height:calc(100vh - 210px);}*/
/*.container {*/
/*  height:100%;*/
/*  !*height:100vh;*!*/
/*  background: #eee;*/
/*  !*position: absolute;*!*/
/*  !*top: 0;*!*/
/*  !*left: 0;*!*/
/*  !*bottom: 0;*!*/
/*  !*right: 0;*!*/
/*}*/

.container--rea {
  perspective: 40em;
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 12em;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg) rotateY(0deg);
}

.cube--transi {
  transition: 1s ease-out;
}

.face, .face--one,
.face--two,
.face--tree,
.face--four,
.face--five,
.face--sixe {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 1s ease;
}

.cube--dee .face, .cube--dee .face--one,
.cube--dee .face--two,
.cube--dee .face--tree,
.cube--dee .face--four,
.cube--dee .face--five,
.cube--dee .face--sixe {
  opacity: 0.1;
  background: white;
  background-image: url(https://goo.gl/Urf1dN);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.cube--dee .face--one {
  background-position: 0;
}
.cube--dee .face--two {
  background-position: 20%;
}
.cube--dee .face--tree {
  background-position: 100%;
}
.cube--dee .face--four {
  background-position: 80%;
}
.cube--dee .face--five {
  background-position: 60%;
}
.cube--dee .face--sixe {
  background-position: 40%;
}

.cube--color-red .face, .cube--color-red .face--one,
.cube--color-red .face--two,
.cube--color-red .face--tree,
.cube--color-red .face--four,
.cube--color-red .face--five,
.cube--color-red .face--sixe {
  border: 1px solid #3f180a;
  background: rgba(107, 41, 17, 0.2);
}

.cube--color-gray .face, .cube--color-gray .face--one,
.cube--color-gray .face--two,
.cube--color-gray .face--tree,
.cube--color-gray .face--four,
.cube--color-gray .face--five,
.cube--color-gray .face--sixe {
  border: 1px solid #2b2b2b;
  background: rgba(68, 68, 68, 0.2);
}

.cube--border .face, .cube--border .face--one,
.cube--border .face--two,
.cube--border .face--tree,
.cube--border .face--four,
.cube--border .face--five,
.cube--border .face--sixe {
  border: 1px solid #444;
  background: none;
}

.face:nth-child(1), .face--one:nth-child(1),
.face--two:nth-child(1),
.face--tree:nth-child(1),
.face--four:nth-child(1),
.face--five:nth-child(1),
.face--sixe:nth-child(1) {
  transform: rotateY(0deg) translateZ(50px);
}

.face:nth-child(2), .face--one:nth-child(2),
.face--two:nth-child(2),
.face--tree:nth-child(2),
.face--four:nth-child(2),
.face--five:nth-child(2),
.face--sixe:nth-child(2) {
  transform: rotateY(90deg) translateZ(50px);
}

.face:nth-child(3), .face--one:nth-child(3),
.face--two:nth-child(3),
.face--tree:nth-child(3),
.face--four:nth-child(3),
.face--five:nth-child(3),
.face--sixe:nth-child(3) {
  transform: rotateY(180deg) translateZ(50px);
}

.face:nth-child(4), .face--one:nth-child(4),
.face--two:nth-child(4),
.face--tree:nth-child(4),
.face--four:nth-child(4),
.face--five:nth-child(4),
.face--sixe:nth-child(4) {
  transform: rotateY(270deg) translateZ(50px);
}

.face:nth-child(5), .face--one:nth-child(5),
.face--two:nth-child(5),
.face--tree:nth-child(5),
.face--four:nth-child(5),
.face--five:nth-child(5),
.face--sixe:nth-child(5) {
  transform: rotateY(0deg) rotateX(90deg) translateZ(50px);
}

.face:nth-child(6), .face--one:nth-child(6),
.face--two:nth-child(6),
.face--tree:nth-child(6),
.face--four:nth-child(6),
.face--five:nth-child(6),
.face--sixe:nth-child(6) {
  transform: rotateY(0deg) rotateX(-90deg) translateZ(50px);
}

.cube--exp .face:nth-child(1), .cube--exp .face--one:nth-child(1),
.cube--exp .face--two:nth-child(1),
.cube--exp .face--tree:nth-child(1),
.cube--exp .face--four:nth-child(1),
.cube--exp .face--five:nth-child(1),
.cube--exp .face--sixe:nth-child(1) {
  transform: rotateY(0deg) translateZ(1em);
}

.cube--exp .face:nth-child(2), .cube--exp .face--one:nth-child(2),
.cube--exp .face--two:nth-child(2),
.cube--exp .face--tree:nth-child(2),
.cube--exp .face--four:nth-child(2),
.cube--exp .face--five:nth-child(2),
.cube--exp .face--sixe:nth-child(2) {
  transform: rotateY(90deg) translateZ(1em);
}

.cube--exp .face:nth-child(3), .cube--exp .face--one:nth-child(3),
.cube--exp .face--two:nth-child(3),
.cube--exp .face--tree:nth-child(3),
.cube--exp .face--four:nth-child(3),
.cube--exp .face--five:nth-child(3),
.cube--exp .face--sixe:nth-child(3) {
  transform: rotateY(180deg) translateZ(1em);
}

.cube--exp .face:nth-child(4), .cube--exp .face--one:nth-child(4),
.cube--exp .face--two:nth-child(4),
.cube--exp .face--tree:nth-child(4),
.cube--exp .face--four:nth-child(4),
.cube--exp .face--five:nth-child(4),
.cube--exp .face--sixe:nth-child(4) {
  transform: rotateY(270deg) translateZ(1em);
}

.cube--exp .face:nth-child(5), .cube--exp .face--one:nth-child(5),
.cube--exp .face--two:nth-child(5),
.cube--exp .face--tree:nth-child(5),
.cube--exp .face--four:nth-child(5),
.cube--exp .face--five:nth-child(5),
.cube--exp .face--sixe:nth-child(5) {
  transform: rotateY(0deg) rotateX(90deg) translateZ(1em);
}

.cube--exp .face:nth-child(6), .cube--exp .face--one:nth-child(6),
.cube--exp .face--two:nth-child(6),
.cube--exp .face--tree:nth-child(6),
.cube--exp .face--four:nth-child(6),
.cube--exp .face--five:nth-child(6),
.cube--exp .face--sixe:nth-child(6) {
  transform: rotateY(0deg) rotateX(-90deg) translateZ(1em);
}

.cube--imp .face:nth-child(1), .cube--imp .face--one:nth-child(1),
.cube--imp .face--two:nth-child(1),
.cube--imp .face--tree:nth-child(1),
.cube--imp .face--four:nth-child(1),
.cube--imp .face--five:nth-child(1),
.cube--imp .face--sixe:nth-child(1) {
  transform: rotateY(0deg) translateZ(0.25em);
}

.cube--imp .face:nth-child(2), .cube--imp .face--one:nth-child(2),
.cube--imp .face--two:nth-child(2),
.cube--imp .face--tree:nth-child(2),
.cube--imp .face--four:nth-child(2),
.cube--imp .face--five:nth-child(2),
.cube--imp .face--sixe:nth-child(2) {
  transform: rotateY(90deg) translateZ(0.25em);
}

.cube--imp .face:nth-child(3), .cube--imp .face--one:nth-child(3),
.cube--imp .face--two:nth-child(3),
.cube--imp .face--tree:nth-child(3),
.cube--imp .face--four:nth-child(3),
.cube--imp .face--five:nth-child(3),
.cube--imp .face--sixe:nth-child(3) {
  transform: rotateY(180deg) translateZ(0.25em);
}

.cube--imp .face:nth-child(4), .cube--imp .face--one:nth-child(4),
.cube--imp .face--two:nth-child(4),
.cube--imp .face--tree:nth-child(4),
.cube--imp .face--four:nth-child(4),
.cube--imp .face--five:nth-child(4),
.cube--imp .face--sixe:nth-child(4) {
  transform: rotateY(270deg) translateZ(0.25em);
}

.cube--imp .face:nth-child(5), .cube--imp .face--one:nth-child(5),
.cube--imp .face--two:nth-child(5),
.cube--imp .face--tree:nth-child(5),
.cube--imp .face--four:nth-child(5),
.cube--imp .face--five:nth-child(5),
.cube--imp .face--sixe:nth-child(5) {
  transform: rotateY(0deg) rotateX(90deg) translateZ(0.25em);
}

.cube--imp .face:nth-child(6), .cube--imp .face--one:nth-child(6),
.cube--imp .face--two:nth-child(6),
.cube--imp .face--tree:nth-child(6),
.cube--imp .face--four:nth-child(6),
.cube--imp .face--five:nth-child(6),
.cube--imp .face--sixe:nth-child(6) {
  transform: rotateY(0deg) rotateX(-90deg) translateZ(0.25em);
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg) rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg) rotateY(0deg);
  }
}