@charset "UTF-8";
body{overflow-y:scroll;}
/* header */
header,
.shadow{box-shadow:6px 1px 10px rgb(0 0 0 / 10%);z-index:10;position:relative;background:white;}

.header{padding:10px 10px;background:#fff;position:relative;z-index: 1;width: 100%;}
.header_inner{gap:14px;position:relative;z-index: 1;background:#fff;}
.header__logo {flex:none;margin-top: -3px;border: none;align-self: center;font-size: 18px;font-weight: bold;}
.header__slogun {display:flex;align-items:center;justify-content:center;font-size: 11px;text-align:center;}
.header__top-nav{flex:none;display:flex;gap:12px;}
.header__top-nav__ico-search {height: 23px;color: #fff;margin-right: 0px;}
.header__top-nav__ico-user{height: 25px;color: #fff;margin-right: 0px;}
/* header End */
#wrap{padding-bottom:var(--wrap-padding-bottom);}
section#container, header .header, footer .footer{max-width: 1000px;margin:0 auto;}
section#container .content{margin-top:20px;}

/* footer */
.footer{position:fixed;bottom:0;left:0;width:100%;border-top:1px solid #ddd;padding:10px;overflow:auto;background-color:#fff;z-index:100;}
.footer__list{position:relative;width:25%;text-align:center;justify-content:center;}
.footer__list__ico img{display:inline-block;height:24px;}
.footer__list__name{font-size:12px;}
.footer__list .alarm{position:relative;}
.footer__list .alarm-new{overflow:hidden;position:absolute;top:0;right:-3px;border-radius:50%;padding-left:3.4px;width:14px;height:14px;line-height:14px;font-size:10px;text-align:center;background-color:red;color:#fff;letter-spacing:10px;}
/* footer End */

/* effect */
.effect-none{box-shadow:none !important;}
.header-01 h1,
.layout-two-one__layout-left,
.layout-two-one__layout-right,
.user-profile-card,
.podiums .podiums-body,
.sz-design-choice__li{box-shadow: 6px 1px 10px rgb(0 0 0 / 10%);}

.post{box-shadow: 4px 5px 10px rgb(0 0 0 / 10%);}
.sz-img{box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);}
.img-charge{box-shadow: 0px 5px 12px 2px rgb(0 0 0 / 10%);}
/* effect End */

/* header */
.header-01{position:relative;background-color: #fff;}
.header-01 h1 {padding:8px 0;color:#333;font-size:16px;text-align:center;border:1px solid #ddd;border-top:none;font-weight:bold;}
.header-01 h1{box-shadow: 6px 1px 10px rgb(0 0 0 / 10%);}

.concept {
    display: inline-block;
    height: 20px;
}

/* 레이아웃 구조 */
.layout-two-one{display:flex;gap:0 10px;}
.layout-two-one__layout-left{flex:1;width:50%;}
.layout-two-one__layout-right{flex:1;width:50%;}
.layout-two-one.inner-scroll{height: calc(var(--vh) - var(--hedaer-height) - var(--header01-height) - var(--wrap-padding-bottom) - 22px );}/* var(--wrap-padding-bottom) */
.layout-two-one.inner-scroll .layout-two-one__layout-left{overflow:auto;}
.layout-two-one.inner-scroll .layout-two-one__layout-right{overflow:auto;}

.layout-two-one.layout-with-profile .layout-two-one__layout-left{flex:none;width:300px;box-shadow:none;}
.layout-two-one.layout-with-profile .layout-two-one__layout-right{flex:1;}

@media (max-width:600px){
    .layout-two-one{display:block;flex-direction:column;}
    .layout-two-one.layout-with-profile .layout-two-one__layout-left{width:100%;}
    .layout-two-one__layout-left{width:100%;}
    .layout-two-one__layout-right{width:100%;}
    .layout-two-one.inner-scroll{height:auto;);}/* var(--wrap-padding-bottom) */
    .layout-two-one.inner-scroll .layout-two-one__layout-left{overflow:visible;}
    .layout-two-one.inner-scroll .layout-two-one__layout-right{overflow:visible;}
}
/* 레이아웃 */



/* 가이드의 impreci 전용 */
.tab__list{border:1px solid #e9e9e9;}
.tab__list > ul > li:first-child > a:before{display:none;}
.tab__list > ul > li{position:relative;background:#fff;border:none;}
.tab__list > ul > li.active{background:#000;border-bottom:1px solid #000;z-index:1;}
.tab__list > ul > li.active a{color:#fff;}
.tab__list > ul > li > a{position:relative;display:flex;flex-direction:column;height:100%;width:100%;align-items:center;justify-content:center;font-size:14px;}
.tab__list > ul > li > a:after{content:'';border-top:none;display:none;}
.tab__list > ul > li > a:before{border-top:none;margin-top:0;top:15px;width:1px;height:10px;border:none;background:#8b8b8b;border:0;right:-1px;}
.tab__list > ul > li.active > a:before{border:none;display:none;}
.tab__list > ul > li.active > a:after{display:none;}

.tab__list > ul.big > li{height:50px;}
.tab__list > ul.big > li > a:before{top:50%;transform:translate(-50%, 0px);}

.panel__outer{margin-top:20px;}
.panel{display:none;}

.tab.tab-style-01 > .tab__list > ul > li{border-bottom:1px solid #8b8b8b;border-top:1px solid #8b8b8b;}
.tab.tab-style-01 > .tab__list > ul > li.active{background:#fff;color:#000;font-weight:bold;}
.tab.tab-style-01 > .tab__list > ul > li.active a {color:#000;}

.tab.tab-style-01.center > .tab__list > ul > li a{align-items: self-start;padding:0 20px;font-size:11px;}
.tab.tab-style-01.center > .tab__list > ul > li:first-child  a{align-items: self-end;}

/* 가이드의 impreci 전용 End */