@charset "UTF-8";
body{overflow-y:scroll;}
/* header */
header,
.shadow{box-shadow:6px 1px 10px rgb(0 0 0 / 10%);z-index:10;position:relative;background:white;}

.header{padding:10px 10px;background:#fff;position:relative;z-index: 1;width: 100%;}
.header_inner{gap:14px;position:relative;z-index: 1;background:#fff;}
.header__logo {flex:none;margin-top: -3px;border: none;align-self: center;font-size: 18px;font-weight: bold;}
.header__slogun {display:flex;align-items:center;justify-content:center;font-size: 11px;text-align:center;}
.header__top-nav{flex:none;display:flex;gap:12px;}
.header__top-nav__ico-search {height: 23px;color: #fff;margin-right: 0px;}
.header__top-nav__ico-user{height: 25px;color: #fff;margin-right: 0px;}
/* header End */
#wrap{padding-bottom:var(--wrap-padding-bottom);}
section#container, header .header, footer .footer{max-width: 1000px;margin:0 auto;}
section#container .content{margin-top:20px;}
section#container .content.sm{max-width:400px;margin-left:auto;margin-right:auto;}

/* footer */
.footer{position:fixed;bottom:0;left:0;width:100%;border-top:1px solid #ddd;padding:10px;overflow:auto;background-color:#fff;z-index:100;}
.footer__list{position:relative;width:25%;text-align:center;justify-content:center;}
.footer__list__ico img{display:inline-block;height:24px;}
.footer__list__name{font-size:12px;}
.footer__list .alarm{position:relative;}
.footer__list .alarm-new{overflow:hidden;position:absolute;top:0;right:-3px;border-radius:50%;padding-left:3.4px;width:14px;height:14px;line-height:14px;font-size:10px;text-align:center;background-color:red;color:#fff;letter-spacing:10px;}
/* footer End */

/* effect */
.effect-none{box-shadow:none !important;}
.header-01 h1,
.layout-two-one__layout-left,
.layout-two-one__layout-right,
.user-profile-card,
.podiums .podiums-body,
.sz-bg-design-choice__li,
/*.sz-design-select,*/
.SANGZZANG.SZ-ORIGIN.SZ-WRITING{box-shadow: 6px 1px 10px rgb(0 0 0 / 10%);}

.post{box-shadow: 4px 5px 10px rgb(0 0 0 / 10%);}
.sz-img{box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);}
.img-charge{box-shadow: 0px 5px 12px 2px rgb(0 0 0 / 10%);}
/* effect End */

/* header */
.header-01{position:relative;background-color: #fff;}
.header-01 h1 {padding:8px 0;color:#333;font-size:16px;text-align:center;border:1px solid #ddd;border-top:none;font-weight:bold;}
.header-01 h1{box-shadow: 6px 1px 10px rgb(0 0 0 / 10%);}



/* 레이아웃 구조 */
    /** PC 좌우 분리 */
        .layout-two-one{display:flex;gap:0 10px;}
        .layout-two-one__layout-left{flex:1;width:50%;}
        .layout-two-one__layout-left.self-top{align-self:flex-start;max-height:100%;}
        .layout-two-one__layout-right{flex:1;width:50%;}
        .layout-two-one__layout-right.self-top{align-self:flex-start;max-height:100%;}
        .layout-two-one.inner-scroll{height: calc(var(--vh) - var(--hedaer-height) - var(--header01-height) - var(--wrap-padding-bottom) - 22px );}/* var(--wrap-padding-bottom) */
        .layout-two-one.inner-scroll .layout-two-one__layout-left{overflow:auto;}
        .layout-two-one.inner-scroll .layout-two-one__layout-right{overflow:auto;}

        .layout-two-one.layout-with-profile .layout-two-one__layout-left{flex:none;width:300px;box-shadow:none;}
        .layout-two-one.layout-with-profile .layout-two-one__layout-right{flex:1;}

        @media (max-width:600px){
            .layout-two-one{display:block;flex-direction:column;}
            .layout-two-one.layout-with-profile .layout-two-one__layout-left{width:100%;}
            .layout-two-one__layout-left{width:100%;}
            .layout-two-one__layout-right{width:100%;}
            .layout-two-one.inner-scroll{height:auto;);}/* var(--wrap-padding-bottom) */
            .layout-two-one.inner-scroll .layout-two-one__layout-left{overflow:visible;}
            .layout-two-one.inner-scroll .layout-two-one__layout-right{overflow:visible;}
        }
    /** PC 좌우 분리 End*/
/* 레이아웃 End */

/* 가이드의 impreci 전용 */
    :root {
        /* 프로필들 작은 이미지 */
        --img-profiles-width: 30px;
        --img-profiles-height: 30px;
        --wrap-padding-bottom: 90px;
        --wrap-padding-bottom-padding: 10px;
        --wrap-padding-bottom: calc(var(--footer-height) + var(--wrap-padding-bottom-padding));
    }

    /* 기타 */
        .INPUT-RESET{height:var(--md-height) !important;}
        .HIDDEN{visibility:hidden !important;}
        .OVERFLOW-HIDDEN{overflow:hidden;}
        .OVERSCROLL{overscroll-behavior: contain;}
    /* 기타 End */

    /* 탭 */
        .tab__list{border:1px solid #e9e9e9;}
        .tab__list > ul > li:first-child > a:before{display:none;}
        .tab__list > ul > li{position:relative;background:#fff;border:none;}
        .tab__list > ul > li.active{background:var(--black);border-bottom:1px solid #000;z-index:1;}
        .tab__list > ul > li.active a{color:#fff;}
        .tab__list > ul > li > a{position:relative;display:flex;flex-direction:column;height:100%;width:100%;align-items:center;justify-content:center;font-size:14px;}
        .tab__list > ul > li > a:after{content:'';border-top:none;display:none;}
        .tab__list > ul > li > a:before{border-top:none;margin-top:0;top:15px;width:1px;height:10px;border:none;background:#8b8b8b;border:0;right:-1px;}
        .tab__list > ul > li.active > a:before{border:none;display:none;}
        .tab__list > ul > li.active > a:after{display:none;}
        .tab__list > ul.big > li{height:50px;}
        .tab__list > ul.big > li > a:before{top:50%;transform:translate(-50%, 0px);}
        .panel__outer{margin-top:20px;}
        .panel{display:none;}
        .tab.tab-style-01 > .tab__list > ul > li{border-bottom:1px solid #8b8b8b;border-top:1px solid #8b8b8b;}
        .tab.tab-style-01 > .tab__list > ul > li.active{background:#fff;color:#000;font-weight:bold;}
        .tab.tab-style-01 > .tab__list > ul > li.active a {color:#000;}
        .tab.tab-style-01.center > .tab__list > ul > li a{align-items: self-start;padding:0 20px;font-size:11px;}
        .tab.tab-style-01.center > .tab__list > ul > li:first-child  a{align-items: self-end;}
        .tab.tab-style-01 .panel__outer{margin-top:0;}
        .tab.tab-style-01 > .tab__list{overflow:hidden;}
        .tab.tab-style-01 > .tab__list > ul > li:first-child > a:before{display:none !important;}
        .tab.tab-style-01 > .tab__list > ul > li{border-bottom:1px solid #000 !important;}
        .tab.tab-style-01 > .tab__list > ul > li{z-index:2;}
        .tab.tab-style-01 > .tab__list > ul > li.active > a:before{display:block;border-bottom:1px solid #ddd2;}
        .tab.tab-style-01 > .tab__list > ul > li.active > a:after{display:block;border-bottom:1px solid #ddd2;}
    /* 탭 End */

    /* 버튼 */
        .btn-group{text-align:center;width:100%;margin-top:20px;}
        .btn-group .btn{margin:0 2px;min-width:100px;}
        .btn:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover{opacity:1;}
    /* 버튼 End */

    /* 토글 */
        .toggle-ico{position:relative;display:inline-block;width:14px;height:11px;}
        .toggle-ico.ACTIVE{transform:rotate(180deg)}
        .toggle-ico:before{content: "";position: absolute;left: calc(50% + 1px);top: calc(50% - 1px);width: 3px;height: 9px;background: var(--black);transform: rotate(315deg) translate(-50%, -50%);transform-origin: center center;border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
        .toggle-ico:after{content: "";position: absolute;left: calc(50% - 1px);top: calc(50% + 1px);width: 3px;height: 9px;background: var(--black);transform: rotate(45deg) translate(-50%, -50%);transform-origin: center center;border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
        .toggle-ico.ACTIVE:before{top: calc(50% + -4px);left: calc(50% - 0px);}
        .toggle-ico.ACTIVE:after{top: calc(50% - 2px);left: calc(50% - 2px);}
        .TOGGLE-PANEL{display:none;}
        .TOGGLE-PANEL.ACTIVE{display:flex;}
    /* 토글 End */

    /* input - 디자인 추가 */
        input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"])
        {width:var(--input-md-width);height:var(--xl-height);line-height:var(--md-line-height);padding:var(--input-md-padding);font-size:var(--md-font-size);font-weight:var(--btn-md-font-weight);background:#fff;}

        input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]).primary,textarea.primary
        {display:inline-block;opacity:1;border:none;border:1px solid #c4c4c4;transition:all var(--transition-time);border-radius:var(--radius);background-color:#fff;background:#fafafa !important;resize: none;}
        input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]).secondary,textarea.secondary
        {border-color:var(--secondary);}

        textarea.primary{width:var(--input-md-width);height:var(--xl-height);line-height:var(--md-line-height);padding:var(--input-md-padding);font-size:var(--md-font-size);font-weight:var(--btn-md-font-weight);background:#fff;padding-top:5px;padding-bottom:5px;height:50px;}
        textarea.primary.line-01{height:50px;}
        textarea.primary.line-02{height:75px;}
        textarea.primary.line-03{height:100px;}
        textarea.primary.line-04{height:125px;}

    /* input - 디자인 추가 End */

    /* 댓글 */
        .comments__list__item{padding:5px 10px 5px 10px;border-bottom:1px solid #ececec;}
        .lay-user-action-info > .r{margin-bottom:5px;}
        .like{padding-right:20px;}
        .ico-like{margin-right:2px;}
        .ico-like__img{height:18px;}
        .ico-like-num{font-size:14px;}
        .writing-reply{padding-left:6px;}
    /* 댓글 End */

    /* 아이콘 */
        .ico-help{display:inline-flex;align-items:center;justify-content:center;width:14px;height:14px;border:1px solid var(--input-border);border-radius:50%;font-weight:400;font-size: 10px;}
        .ico-question{display:inline-block;height:14px;opacity:0.5;position:relative;top:-1px;}
        .ico-info{display:inline-block;height:14px;opacity:1;position:relative;top:-1px;}
        .ico-required{position:relative;top:3px;vertical-align:top;}
        .concept {display: inline-block;height: 20px;}/* 디자인 컨셉 */
    /* 아이콘 End */

    /* tagify 태그 뱃지 */
        .tagify{
            width: 100%;
            max-width: 700px;
            --tag-inset-shadow-size: 100em !important;
            --tag-bg:#282828 !important;
        }
        .tagify__tag{
            border-radius:6px;
            overflow: hidden;
        }
        .tagify__tag>div{
            padding:0.3em 0.5em;
        }
        .tagify__tag-text{
            color:#fff;
        }
        .tagify__tag__removeBtn{background:#6c6c6c;}
        .tagify__tag__removeBtn::after{color:#fff;}

        .tagify__dropdown__wrapper{
            border:1px solid #c8c8c8;
            background:#efefef;
            padding:5px;
            background:#fff;
        }
        .tags-look .tagify__dropdown__item{
            display: inline-block;
            border-radius: 3px;
            padding: .3em .5em;
            /*border: 1px solid #CCC;*/
            background: #282828;
            margin: .2em;
            font-size: .85em;
            color: #fff;
            transition: 0s;

            background: #e6e6e6;
            color: var(--black);
            border: 1px solid var(--black);
            border-radius: 6px;
            border:1px solid var(--lignt-gray);
            padding:5px 6 px;
            font-size:13px;
        }

        .tags-look .tagify__dropdown__item--active{
            transition:all 0.3s;
            /*color: #fff;*/
            opacity:0.8
        }
        /* 드랍다운의 태그 */
        .tags-look .tagify__dropdown__item:hover{
            background: #282828;
            border-color: #282828;
            color:#fff;
        }
        .tagify__tag:focus div::before, .tagify__tag:hover:not([readonly]) div::before {
            --tag-bg-inset: -2.5px;
            --tag-bg: #282828;
            opacity:0.8;
        }
        /* 삭제 버튼 호버 */
        .tagify__tag__removeBtn:hover{
            opacity: 1 !important;
            background:var(--primary);
        }
        /* 삭제 버튼 호버 End */

        /* 삭제 호버의 텍스트 */
        .tagify__tag__removeBtn:hover+div>span {
            opacity: 1 !important;
            color:#fff;
        }
        /* 삭제 호버의 텍스트 End */

        .tags-look{z-index:999999 !important;}
        html .tagify{
            --tags-disabled-bg         : #F1F1F1;
            --tags-border-color        : silver;
            --tags-hover-border-color  : #CCC;
            --tags-focus-border-color  : #ff0000;
            --tag-border-radius        : 6px;
            --tag-bg                   : #282828;
            --tag-hover                : #282828;
            --tag-text-color           : #FFF;
            --tag-text-color--edit     : #111;
            --tag-pad: 0.3em 0.5em;
            --tag-inset-shadow-size    : 0em;
            --tag-invalid-color: red;
            --tag-invalid-bg: rgba(211, 148, 148, 1);
            --tag-remove-bg: #ff7171;
            --tag-remove-btn-color: black;
            --tag-remove-btn-bg: none;
            --tag-remove-btn-bg--hover : black;
            --input-color: inherit;
            --tag--min-width: 1ch;
            --tag--max-width: auto;
            --tag-hide-transition: 0.3s;
            --placeholder-color: rgba(0, 0, 0, 0.4);
            --placeholder-color-focus: rgba(0, 0, 0, 0.25);
            --loader-size: .8em;
            --readonly-striped: 1;
            display: inline-block;
            min-width: 0;
            border: none;
        }
    /* tagify 태그 뱃지 End */
/* 가이드의 impreci 전용 End */