/* 검색 */
.search.gap{margin-top:10px;}
.search_tab{margin-top:10px;}
.search{width:100%;}

/* 검색 End */

/* 링크 리스트 - modal */
.modal-body .modal-list li{margin:5px 0;}
.modal-list li > a{overflow:hidden;display:block;border:1px solid #c8c8c8;border-radius:5px;padding:7px 0;height:100%;}
.modal-list li.last{margin-top:10px;}
/* 링크 리스트 - modal End */

/* 로그인-modal */
#modalLogin .modal-content{max-width:310px;}
#modal-login .login-auto{padding-bottom:2px;font-size:14px;text-align:right;}
#modal-login .login-sns{text-align:center;}
#modal-login .login-lnk a{font-size:14px;}
#modal-login .login-sns img{display:inline-block;height:38px;padding:0px;margin:0 5px;}
/* 로그인-modal End */

/* 유저 리스트 */
.user-list{width:100%;}
/* 유저 리스트 End */

/* 상장 리스트 */
.post__list{}
.post__list > .r{flex-wrap:wrap;justify-content:center;gap:30px 0}
.post__list > .r > .c{width:100%;max-width:330px;align-items:start;}
.post__list__outer{display:inline-block;width:100%;margin:0 14px;padding-top:10px;border:1px solid #ddd;border-radius:10px;overflow:hidden;}
.sz-img{display:block;width:100%;}

.post-photo__list{width:100%;overflow:auto;white-space:nowrap;}
.post-photo__list_item{display:inline-block;width:20%;}

    /* 상장 리스트 내 썸네일 이미지 */
.photo-outer{height:40px;padding:2px;overflow:hidden;}
.photo-outer__img{display:block;width:100%;border-radius:5px;}
    /* 상장 리스트 내 썸네일 이미지 End */


.sender{display:flex;align-items:center;gap:4px;padding-right:4px;}
.sender > .r{width:100%;}

.img-profiles{position:relative;float:left;}
.img-profiles > .r{position:relative;width:100%;}
.img-profiles > .r > .c{margin-left:-16px;}



.img-profile-outer{display:flex;align-items:center;overflow:hidden;border:1px solid #afafaf;width:40px;height:40px;border-radius:50%;}
.img-profile-outer.sm{width:30px;height:30px;}
.img-profile-outer__img{display:block;width:100%;}
.img-profile-outer__img{display:block;width:100%;}
.img-profile-outer__nick{}

/*.post-info{}*/
/*.post-info > .r{gap:6px;}*/
/*.post-info > .r > .c{}*/

.user-action-info{}
.user-action-info > .r{gap:6px;}
.user-action-info > .r > .c{}
.user-action-info-detail{text-align:left;}

.num{text-align:right;}
.profile-img{}
.btn-user-action{}
.img-more{}
.img-more__outer{display:block;}
.img-more__outer__img{width:16px;opacity:0.5;}

.user-action-date{font-size:12px;color:#ababab;}

.tag-skill__a{color:var(--secondary)}

    /* 보내는 사람 */
.profile-imgs__outer{display:inline-flex;align-items: center;gap:4px;}
.profile-imgs__outer ul{float:left;padding-left:16px;}
.profile-imgs__outer ul li{float:right;margin-left:-16px;}
.profile-imgs__outer .num-width{display:inline-block;position:relative;top:-4px;align-self:flex-start;font-weight:400;font-size:11px;margin-left:-15px;background-color:var(--primary);color:#fff;padding:0 4px;border-radius:5px;}

.img-profiles{display:inline-flex;align-items: center;gap:4px;}
.img-profiles ul{float:left;padding-right:10px;}
.img-profiles ul li{float:right;margin-left:-16px;}
.profile-imgs__outer .num-width{display:inline-block;position:relative;top:-4px;align-self:flex-start;font-weight:400;font-size:11px;margin-left:-15px;background-color:var(--primary);color:#fff;padding:0 4px;border-radius:5px;}

.plus-num{position:absolute;right:0;top:-5px}
.plus-num__outer{display:inline-block;position:relative;top:-4px;align-self:flex-start;font-weight:400;font-size:11px;margin-left:-15px;background-color:var(--primary);color:#fff;padding: 0 4px;border-radius:5px;}

/* 상장 리스트 End */

/* 내 상장 */
.user-profile-card{padding:10px;border-radius:10px;}
.user-profile-card__header{}
.user-profile-card__header > .r{}
.user-profile-card__header > .r > .c{flex:1;}
.user-profile-card__header > .r > .c{align-items:center;justify-content:center;}
.user-profile-card__header > .r > .c .img-profile{display:flex;align-items:center;justify-content:center;padding:20px 0;}
.user-profile-card__header > .r > .c .skills{width:100%;height:100%;}
.user-profile-card__header > .r > .c .skills a{display:block;width:100%;height:100%;text-align: center;}
.user-profile-card__header > .r > .c .skills a > div{margin:0 auto !important;width:100% !important;}
.user-profile-card__header > .r > .c .skills a > canvas{}
.user-profile-card .img-profile{width:100%;height:100%;}
.user-profile-card .img-profile-outer{width:100%;height:100%;max-width:100px;max-height:100px;}
.user-profile-card .img-profile-outer__img.big{height:100%;}


.user-profile-card .user-infos{margin-top:8px;}
.user-profile-card .user-infos .nick{font-weight:bold;font-size:20px;}
.user-profile-card .user-infos .intro{padding:6px 0;font-size:16px;}
.user-profile-card .user-infos .sns li{font-size:12px;}
.user-profile-card .user-infos .sns .sns-name{display:none;}
.user-profile-card .personal{margin-top:10px;}


.showcase-function{position:relative;text-align:right;margin-top:0px;padding:0 10px;}
.showcase > ul{margin-top:10px;}
.showcase > ul li{position:relative;margin-bottom:30px;padding-bottom:20px;;background:url(../../assets/img/bg_showcase_seperate.png) left bottom repeat-x;background-size:100% 25px;}
.showcase > ul li .sz-wrap{padding:0% 5% 0 5%;}
.showcase > ul li .sz-img{border:1px solid #e8e8e8;box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);}
.showcase > ul li .sz-img.on{margin-top:-3%;border:2px solid #da4f4d;}
.showcase > ul li .sz-img > a{display:block;}
.showcase > ul li .sz-img img{width:100%;}
.showcase > ul li .sz-img > .sangzzang.sangzzang-origin{margin-top:0;border:none;width:100%;}

.content-myroom .rolling-paper{margin:0 0px;}
.content-myroom .paper-top{text-align:center;vertical-align:top;}
.content-myroom .paper-top > img{width:100%;vertical-align:top;}
.content-myroom .paper-top .add{text-align:right;}
.content-myroom .showcase-function-more{display:inline-block;width: 30px;height: 30px;text-align: right;}
.showcase > ul > li .checkbox{position:absolute;left:14%;top:5px;width:10%;height:7.9%;}
.showcase > ul > li.selected .sz-img{margin-top:-3%;border:2px solid #da4f4d;}

.showcase > ul > li .handle{overflow:hidden;display:flex;align-items:center;justify-content:center;position:absolute;left:50%;top:50%;width:50%;height:40%;transform:translate(-50%,-50%);border-radius:10%;z-index:1;background:rgba(0, 0, 0, 0.15);text-align:center;}
.showcase > ul > li .handle .ico-cross{display:none;width:20%;opacity:.6;}

.selection.textless.textless2 > label{border:2px solid #fff;border-radius:50%;background-color:#000;width:100%;height:100%;background:none;}
.selection.textless.textless2 > label:before{box-sizing:border-box;;border-radius:50%;width:100%;height:100%;background:black;opacity:.3;}
.selection.textless.textless2 > input.checked + label:before{content:' ';color:#fff;background:#da4f4d;opacity:1;text-indent:0;}

.showcase-function-layer{display:flex;align-items:center;text-align:center;justify-content:center;position:fixed;left:0%;bottom:65px;width:100%;height:40px;background-color:#da4f4d;text-align:center;z-index:10;}
.showcase-function-layer .showcase-function-layer-close{display:inline-block;position:absolute;right:10px;top:0px;height:30px;font-size:24px;color:#fff;}
.showcase-function-layer button{margin:0 5px;}

.sortable-ghost{opacity:0;}
.sortable-ghost .sz-wrap .sz-img{ border:2px solid #da4f4d;}
.sortable-chosen .sz-img{}
.sortable-drag .sz-wrap .sz-img{border:2px solid #da4f4d;}
/*.sortable-drag > *{opacity:0;border:1px solid blue;width:1px;height:1px;overflow:hidden;}*/

.panels > .panel.rolling-paper .paper-top .modify{margin:10px 0px 0px 0px;text-align:right;}
.panels > .panel.rolling-paper .paper-top .add{margin:10px 10px 0 10px;}

/* 포스트잇 */
.postit > .r{flex-wrap:wrap;justify-content:center;gap:30px 0;}
.postit__list{width:100%;max-width:330px;align-items:start;}
.postit__list__outer{position:relative;display:inline-block;width:100%;margin:0 14px;padding-top:10px;overflow:hidden;}
.postit__outer__header{position:absolute;width:100%;height:25px;padding-left:10px;padding-right:10px;background:#fff581;z-index:1;}
.postit__outer__header__option{position: absolute;top:0;right:10px;z-index:1;display:none;}
.postit__outer__header__option.on{display:block;}
.postit__outer__header__option__setting{position:absolute;right:0;top:0;width:30px;opacity:0.6;padding:0 5px;}
.postit__outer__header__option__setting .ico-more{width:100%;}
.postit__outer__header__option__list{position:absolute;right:0px;top:30px;width:30px;padding:5px;background:#fff;}
.postit__outer__header__option__list .color{width:100%;height:25px;background:#fff79a;}
.postit__outer__header__option__list .yellow{background:#fff79a;}
.postit__outer__header__option__list .pink{background:#ffd4d4;}
.postit__outer__header__option__list .green{background:#ebffcd;}
.postit__outer__header__option__list .blue{background:#cdfaff;}
.postit__outer__header__option__list .purple{background:#e9dbff;}
.postit__outer__body{display:inline-block;background:#fff79a;width:100%;height:240px;box-sizing:border-box;padding:30px 10px 5px 10px;position:relative;box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);overflow:auto;}

.postit__list.yellow .postit__outer__header{background:#fff581;}
.postit__list.yellow .postit__outer__body{background:#fff79a;}
.postit__list.pink .postit__outer__header{background:#ffbbbb;}
.postit__list.pink .postit__outer__body{background:#ffd4d4;}
.postit__list.green .postit__outer__header{background:#e1ffb4;}
.postit__list.green .postit__outer__body{background:#ebffcd;}
.postit__list.blue .postit__outer__header{background:#b4f7ff;}
.postit__list.blue .postit__outer__body{background:#cdfaff;}
.postit__list.purple .postit__outer__header{background:#d9c2ff;}
.postit__list.purple .postit__outer__body{background:#e9dbff;}

.postit__list{}

@media (max-width: 1000px) {
    .postit__list{}
}
@media (max-width: 500px) {
    .postit__list{}
}

/* 포스트잇 End */

/* 내 상장 End */

/* 포디움 시상식 */
 .award-on{
     animation-name: award-on;
     animation-duration: .5s;
     animation-delay: .5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
@keyframes award-on {
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }

}

.light-ani-ing{
    animation-name: light-ani-ing;
    animation-duration: 6s;
    animation-delay: .6s;
    animation-iteration-count: infinite;
}
@keyframes light-ani-ing {

    0%{
        opacity:0.4
    }
    25%{
        opacity:1
    }
    50%{
        opacity:0.5
    }
    75%{
        opacity:1
    }
    100%{
        opacity:0.5
    }
}


.podium-top{position:relative;background-color:#000;height:333px;width:100%;}
.podium-top .podium-top-bg{opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;background:url(/assets/img/bg-podium.png) #000 no-repeat center top;}
.podium-top.podium-top-sz .podium-top-bg{background-image:url(/assets/img/bg-podium-sz.png);}
.profile-img{display:inline-block;overflow:hidden;border-radius:50%;width:80px;border:1px solid #e5e5e5;vertical-align:top;}
.award-title{position:absolute;left:0;top:0;width:100%;border:1px solid black;background-color:#000;opacity:0.6;color:#fff;text-align:center;padding:5px 0;}
.award-list{opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;z-index:0;}
.award-ol{position:relative;margin:0 auto;width:300px;height:100%;}
.award-ol li{float:left;position:absolute;left:0;top:0;width:100%;text-align:center;}
.award-ol li a{display:inline-block;}
.award-ol li.gold{left:0;top:90px;}
.award-ol li.gold img{border:1px solid gold;}
.award-ol li.silver{left:19px;top:170px;text-align:left;}
.award-ol li.silver img{border:1px solid silver;}
.award-ol li.bronze{left:auto;right:19px;top:190px;text-align:right;}
.award-ol li.bronze img{border:1px solid bronze;}
.award-ol li .award-nick{position:absolute;top:82px;top:-30px;left:0;width:100%;text-align:center;}
.award-ol li .award-nick span{display:inline-block;padding:4px 10px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;border-radius:5px;max-width:80px;background-color:#fff;font-size:11px;opacity:0.8;color:#000;}
.award-ol li.silver .award-nick{text-align:left;}
.award-ol li.bronze .award-nick{text-align:right;}

.podium-top-sz .award-ol li.gold{left:0;top:90px;}
.podium-top-sz .award-ol li.gold img.profile-img{border:1px solid gold;}
.podium-top-sz .award-ol li img.sz-img{position:absolute;left:50%;top:86px;margin-left:-38px;width:78px;height:108px;opacity:0.8;}
.podium-top-sz .award-ol li.silver{left:10px;top:90px;text-align:left;}
.podium-top-sz .award-ol li.silver img.profile-img{border:1px solid silver;}
.podium-top-sz .award-ol li.silver img.sz-img{left:39px;top:86px;width:71px;height:108px;transform:perspective(370px) rotateY(27deg);}
.podium-top-sz .award-ol li.bronze{left:auto;right:10px;top:92px;text-align:right;}
.podium-top-sz .award-ol li.bronze img.profile-img{border:1px solid bronze;}
.podium-top-sz .award-ol li.bronze img.sz-img{left:auto;right:0;top:84px;width:71px;transform:perspective(350px) rotateY(-24deg);}
.podium-top-sz .award-ol li .award-nick{to1p:-20px;}

.confetti{position:absolute;width:100%;height:100%;z-index:10;}
.lights{opacity:0;position:absolute;width:100%;height:100%;z-index:2;background:url(/assets/img/bg-podium-lights.png) no-repeat center top;}
.tabs-child{}
.tabs-child ul{text-align:center;}
.tabs-child li{position:relative;display:inline-block;padding:10px 0;}
.tabs-child li > a{padding:0 20px;font-size:13px;color:#707070;}
.tabs-child li.active > a{color:#000;}
.tabs-child li > a:after{content: " ";box-sizing: border-box;display: block;position: absolute;top: 50%; right: 0;left: 0;width: 1px;height: 10px;margin-top: -3px;background-color: #bdbdbd;}
.tabs-child li:first-child > a:after{display:none;}
.user-list.list-ranking{margin-top:0;border-top:1px solid #e9e9e9;}
.user-list.list-ranking li{display:flex;}
.user-list.list-ranking li .user{flex:1;}

.tab.tab-style-01 .panel__outer{margin-top:0;}
.tab.tab-style-01 > .tab__list{overflow:hidden;}
.tab.tab-style-01 > .tab__list > ul > li:first-child > a:before{display:none !important;}
.tab.tab-style-01 > .tab__list > ul > li{border-bottom:1px solid #000 !important;}
.tab.tab-style-01 > .tab__list > ul > li.active > a:before{display:block;border-bottom:1px solid #ddd2;}
.tab.tab-style-01 > .tab__list > ul > li.active > a:after{display:block;border-bottom:1px solid #ddd2;}

.podiums-search{}
.podiums-search .user-list{margin-top:10px;}
.podiums-search .search-input{background:#f7f7f7;padding:10px;}
.podiums-body{margin-top:20px;}

/* 포디움 시상식 End */


